{% extends 'base-css.html' %}
{% block title %}E-voting Authentication{% endblock %}
{% load staticfiles %}

{% block extrascript %}
<style type="text/css">
    .highlight {
        padding: 9px 9px;
        margin-top: 14px;
        margin-bottom: 14px;
        background-color: #f7f7f9;
        border: 1px solid #e1e1e8;
        border-radius: 4px;
    }
</style>
{% endblock %}

{% block content %}
<div class="container">
    <div align="left" class="highlight">
        <h2>Hello {{name}},</h2>
	<p>{{a}}</p>
	<p>{{b}}</p>
	<p>{{c}}</p>
        <h2>You are eligible for the following election(s):</h2>
        {% for entry in elist %}
        <p><font size="4">Election {{forloop.counter}}:  </font>      <a class="btn btn-large {% if entry.ended %}btn-warning" disabled="disabled"{% else %}btn-success"{% endif %} type="button"
            href="{{BB_URL}}/vote/{{entry.e.EID}}/" target="_blank">{{entry.e.question}}</a>
        <div class="btn-group">
                <button type="button" class="btn btn-default" disabled="disabled">Start time: {{entry.e.start}}</button>
                <button type="button" class="btn btn-default" disabled="disabled">End time: {{entry.e.end}}</button>
        </div>
        </p>
        {% endfor %}
    </div>
</div>

{% endblock %}
