{% extends 'base-css.html' %}
{% block title %}Audit Bulletin Board{% endblock %}
{% load staticfiles %}

{% block content %}
<div class="page-header">
  <div class="container">
       <div align="center"> 
		   <h1>Audit Bulletin Board Public View</h1>
           <button class="btn btn-primary " data-toggle="modal" data-target="#exportModal">
               Export Data
           </button>
			<h1><font color="purple">{{election.question}}</font></h1>
			<div class="btn-group">
  			<button type="button" class="btn btn-default" disabled="disabled">Start time: {{election.start}}</button>
  			<button type="button" class="btn btn-default" disabled="disabled">End time: {{election.end}}</button>
			</div>
       </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Export Configuration</h4>
            </div>
            <div class="modal-body">
                <form role="form" action="." method="post" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>{% csrf_token %}
                <div class="form-group" align="left">
                <div class="btn-group" data-toggle="buttons">
                    <label class="btn btn-info">
                        <input type="checkbox" name = "abbCheck"> ABB Data
                    </label>
                    <label class="btn btn-info">
                        <input type="checkbox" name = "vbbCheck"> VBB Records
                    </label>
                    <label class="btn btn-info">
                        <input type="checkbox" name = "randCheck"> Voter's Randomn Coin
                            </label>
                    <label class="btn btn-info">
                        <input type="checkbox" name = "defCheck"> Election Defition
                    </label>
                </div>
                </div>
                <div class="form-group" align="right">
                    <button type="submit" class="btn btn-primary" onclick="$('#exportModal').modal('hide');">Download</button>
                </div>
                </form>
            </div><!-- /.modal-body -->

        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="container">
   <ul class="pagination">
    {% for ver in BigData.Ver %}
    <li {% if ver|add:"0" = tab|add:"0" %}class="active"{% endif %} id="V{{num}}"><a href="http://tal.di.uoa.gr/finer/abb/{{election.EID}}/{{ver}}/">Ver. {{ver}}</a></li>
    {% endfor %}
   </ul>
      
      <div class="manypopovers">
      {% for itemset in BigData.Data %}
	      <table class="table table-hover">
              <thead>
              <tr>
                 {% for col in col_names %}
              <th>{{col}}</th>
              {% endfor %}
              </tr>
              </thead>
              <tbody>
{% for item in itemset %}
		<tr>
	      {% for entry in item %}
	         <td><div style="word-wrap: break-word">
            {% if forloop.first %}
                {% if entry.serial %}
            <button style="width: 70px" type="button" class="btn btn-success" data-toggle="popover"
      data-content="{{entry.bit}}">{{entry.serial}}</button>
                {% endif %}
            {% endif %}
            {% if forloop.counter = 2 %}
			{% if entry.code %}
            <button style="width: 145px" type="button" class="btn btn-info" data-toggle="popover"
                 data-content="{{entry.enc}}">{{entry.code}}</button>
			{% else %}
			<button style="width: 100px" type="button" class="btn btn-warning" data-toggle="popover"
                 data-content="{{entry.enc}}">Committed</button>
			{% endif%}
            {% endif %}
            {% if forloop.counter = 3 %}
            <button style="width: 95px" type="button" class="btn btn-danger" data-toggle="popover"
                 data-content="{{entry.cipher}}">Encrypted</button>
            {% endif %}
            {% if forloop.counter = 4 %}
            <button style="width: 95px" type="button" class="btn btn-warning" data-toggle="popover"
                 data-content="{{entry.aux}}">Committed</button>
            {% endif %}
            {% if forloop.counter = 5 and entry.mark %}
            <button style="width: 100px" type="button" class="btn btn-info">{% ifequal entry.mark "Voted" %}<span class="glyphicon glyphicon-ok"></span>    {% endifequal %} {{entry.mark}}</button>
            {% endif %}
            {% if forloop.counter = 6 and entry.rand  %}
            <button style="width: 70px" type="button" class="btn" data-toggle="popover"
                 data-content="{{entry.rand}}">Coins</button>
            {% endif %}
	    {% if forloop.counter = 7 and entry.post  %}
            <button style="width: 75px" type="button" class="btn btn-success" data-toggle="popover"
                 data-content="{{entry.post}}">Verified</button>
            {% endif %}
		 </div></td>
	      {% endfor %}
	      </tr>
{% endfor %}

        </tbody>
       </table>
	{% if next_page %}
	<div class="scroll">
  	   <div class="next"> <a href="http://tal.di.uoa.gr/finer/abb/{{election.EID}}/{{tab}}/{{next_page}}/">next</a></div>
	</div>	    
    {% endif %}
	 {% endfor %}   <!-- smalldata -->  
    </div>  <!-- small-tab-content -->
</div> <!-- container -->

 
{% endblock %}

{% block afterbody %}
<script src="{% static "js/jquery.jscroll.min.js" %}" type="text/javascript"></script>
	<!-- popover -->
	<script>
    	$(document).ready(function(){
    			$('.manypopovers').tooltip({
      				selector: "[data-toggle=tooltip]",
      				container: "body"
    			});
    			$("[data-toggle=popover]").popover({
				placement:"top"
			});
			$('.scroll').jscroll({
				callback: function(){
					$('.manypopovers').tooltip({
                                	selector: "[data-toggle=tooltip]",
                                	container: "body"
                        		});
		                        $("[data-toggle=popover]").popover({
                               		 placement:"top"
                       			 });
				}
			});
        });

	</script>
{% endblock %}




