{% extends 'base-css.html' %}
{% block title %}Tally Success!{% endblock %}
{% load staticfiles %}

{% block content %}
<div class="container">
	<h2>Key Holder's Processing Page</h2>
    <div class="alert alert-success">
	<h3>Congratulations! The election is successfully tallied.</h3>
	<p>VBB: <a href="https://crypto.di.uoa.gr/finer/vbb/{{EID}}/" class="alert-link">https://tal.di.uoa.gr/finer/vbb/{{EID}}/</a></p>
	<p>ABB: <a href="https://crypto.di.uoa.gr/finer/abb/{{EID}}/" class="alert-link">https://tal.di.uoa.gr/finer/abb/{{EID}}/</a></p>
    </div>
</div>
{% endblock %}
