{% extends 'base-css.html' %}
{% block title %}Voter Bulletin Board{% endblock %}
{% load staticfiles %}
{% if running == 1 %}
{% block extrascript %}	
<!-- Countdown Clock -->
	<script src="{% static "js/countdown.js" %}" type="text/javascript"></script>
{% endblock %}
{% endif %}
{% block content %}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <p class="navbar-brand"> Please cast your vote by here!</p>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form" action="" method="post" id="formvote" accept-charset="utf-8" {% if form.is_multipart %}enctype="multipart/form-data"{% endif %}>{% csrf_token %}
            <div class="form-group">
              <input type="text" id="voteserial" name="serial" placeholder="Serial Number" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" name="code" id="votecode" placeholder="Vote Code" class="form-control">
            </div>
            <button type="submit" id="submitvote" class="btn btn-success">Submit</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h2>{{election.question}}</h2>
		<p><div class="btn-group">
  			<button type="button" class="btn btn-default" disabled="disabled">Start time: {{election.start}}</button>
  			<button type="button" class="btn btn-default" disabled="disabled">End time: {{election.end}}</button>
		</div>
        <a class="btn btn-primary" type="button" href="export/" target="_blank">Export Data</a>
        </p>
		<div class="col-md-7">
		{% if running == 0 %}
			<button type="button" class="btn btn-warning btn-lg" disabled="disabled"><span class="glyphicon glyphicon-list-alt"></span> The election will start at {{election.start}}</button>
		{% endif %}
		{% if running == 1 %}
			<script type="application/javascript">
				function closeElection(){
					location.reload();
				};
				var CountdownImageFolder = "{% static "images/" %}";
				var electionCountdown = new Countdown({
								 	time: {{time}},
									width:{%if time > 86400 %}300{%else%}220{% endif %}, 
									height:60,  
									rangeHi:"{%if time > 86400 %}day{%else%}hour{% endif %}",
									onComplete: closeElection,
									style:"flip"	// <- no comma on last item!
									});

			</script>
		{% endif %}
		{% if running == 2 %}
			<button type="button" class="btn btn-danger btn-lg" disabled="disabled"><span class="glyphicon glyphicon-stats"></span> The election ended. Waiting for tally results...</button>
		{% endif %}
		{% if running == 3 %}
			<p><font color="blue">Election Result: </font></p>
			{% for opt in options %}
			<a type="button" class="btn btn-info">{{opt.1}} <span class="badge">{{opt.0}}</span></a>
			{% endfor %}
		{% endif %}
		{% if running == 10 %}
			<button type="button" class="btn btn-warning btn-lg" disabled="disabled"><span class="glyphicon glyphicon-lock"></span> The election is currently locked.</button>
		{% endif %}
		</div>
		
		<div class="col-md-5">
			<p>Status: {{ data|length }}/{{election.total}} has voted.</p>
			<div class="progress progress-striped active">
  			<div class="progress-bar"  role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%">
    			<span class="sr-only">{{ progress }}% Voted</span>
  			</div>		
			</div>
		</div>			
	  </div><!-- /container -->
    </div><!-- /jumbotron-->
<!-- =========================================================== -->


<!-- Modal invalid-->
  <div class="modal fade" id="invalidModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title"><span class="glyphicon glyphicon-warning-sign"></span> Your vote is NOT accepted!</h4>
        </div>
        <div class="modal-body">
		<p>Warning: your vote is rejected due to one of the following reasons:</p>
		<p>  1. The submitted vote code is invalid.</p>
		<p>  2. The ballot is already casted.</p>
		<p>  3. The dual ballot is already casted.</p>
        <p>  4. This election has not started yet.</p>
        <p>  5. This election is already ended.</p>
        <p>  6. This election is currently locked.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">OK</button> 
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


<!-- Modal -->
  <div class="modal fade" id="feedbackModal">
  </div><!-- /.modal -->


<div class="container">
<table class="table table-hover">
	<thead>
    	<tr>
            <th>Serial #</th>
            <th>Voted Code</th>
			<th>Casted Time</th>
            <th>Check Code (For Audit Only)</th>
            <th>Check Vote (For Audit Only)</th>
        </tr>
    </thead>
    <tbody>
		{% for row in data %}
        <tr>
			{% for text in row %}
            <td>{{text}}</td>
            {% endfor %}
        </tr>
        {% endfor%}  
    </tbody>
</table>

</div> <!-- /container -->
{% endblock %}

{% block afterbody %}
	<!-- Submit form -->
<script type="text/javascript">
	$(document).ready(function(){

		$("#formvote").submit(function(){
			$.post("",
			{serial:$( "#voteserial" ).val(),
			code:$( "#votecode" ).val(),
			csrfmiddlewaretoken:'{{ csrf_token }}'
			},
			function(data,status){
				if(data == "invalid code"){
					$('#invalidModal').modal('show');
				}
				else {
					$('#feedbackModal').replaceWith(data);
					$('#feedbackModal').modal('show');
					}
			})
			.fail(function(xhr) {
				console.log("Error: " + xhr.statusText);
				alert("Error: " + xhr.statusText);
			});
			return false;
		});
	});
</script>
{% endblock %}

