{% extends 'base-css.html' %}
{% block title %}Voter Bulletin Board{% endblock %}
{% load staticfiles %}
{% if running == 1 %}
{% block extrascript %}	
<!-- Countdown Clock -->
	<script src="{% static "js/countdown.js" %}" type="text/javascript"></script>
{% endblock %}
{% endif %}
{% block content %}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <p class="navbar-brand">Please cast your vote here!</p>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form" action="." method="post" id="formvote" accept-charset="utf-8">{% csrf_token %}
            <div class="form-group">
              <input type="text" id="voteserial" name="serial" placeholder="Serial Number" class="form-control">
            </div>
            <div class="form-group">
              <input type="text" name="code" id="votecode" placeholder="Vote Code" class="form-control">
            </div>
            <button type="submit" id="submitvote" class="btn btn-success">Submit</button>
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h2>{{election.question}}</h2>
		<p><div class="btn-group">
  			<button type="button" class="btn btn-default" disabled="disabled">Start time: {{election.start}}</button>
  			<button type="button" class="btn btn-default" disabled="disabled">End time: {{election.end}}</button>
		</div></p>		
		<div class="col-md-6">
		{% if running == 0 %}
			<button type="button" class="btn btn-warning btn-lg" disabled="disabled"><span class="glyphicon glyphicon-list-alt"></span> The election will start at {{election.start}}</button>
		{% endif %}
		{% if running == 1 %}
			<script type="application/javascript">
				function closeElection(){
					location.reload();
				};
				var CountdownImageFolder = "{% static "images/" %}";
				var electionCountdown = new Countdown({
								 	time: {{time}},
									width:{%if time > 86400 %}300{%else%}220{% endif %}, 
									height:60,  
									rangeHi:"{%if time > 86400 %}day{%else%}hour{% endif %}",
									onComplete: closeElection,
									style:"flip"	// <- no comma on last item!
									});

			</script>
		{% endif %}
		{% if running == 2 %}
			<button type="button" class="btn btn-danger btn-lg" disabled="disabled"><span class="glyphicon glyphicon-stats"></span> The election ended. Waiting for tally results...</button>
		{% endif %}
		</div>
		
		<div class="col-md-6">
			<p>Status: {{ data|length }}/{{election.total}} has voted.</p>
			<div class="progress progress-striped active">
  			<div class="progress-bar"  role="progressbar" aria-valuenow="{{ progress }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ progress }}%">
    			<span class="sr-only">{{ progress }}% Voted</span>
  			</div>		
			</div>
		</div>			
	  </div><!-- /container -->
    </div><!-- /jumbotron-->
<!-- =========================================================== -->
{% if warning %}
<!-- Modal -->
  <div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{% if warning == 1 %}<span class="glyphicon glyphicon-warning-sign"></span>{% else %}<span class="glyphicon glyphicon-ok-sign"></span>{% endif %} Your vote is {% if warning == 1 %}NOT{% endif %} accepted!</h4>
        </div>
        <div class="modal-body">
        {% if warning == 1 %}
		<p>Warning: your vote is rejected due to one of the following reasons:</p>
		<p>  1. The submitted vote code is invalid.</p>
		<p>  2. The ballot is already casted.</p>
		<p>  3. The dual ballot is already casted.</p>
		{% else %}
		<p>Could you please identify that the following code is included in your dual ballot and select its corresponding option for us?</p>	
		<form class="form-horizontal" role="form">
		<fieldset disabled>
		<div class="form-group">
		<label for="inputcode" class="col-sm-2 control-label">Code: </label>
		<div class="col-sm-10">
		<input type="text" id="inputcode" class="form-control" value="{{checkcode}}">
		</div>
		</div>
		</fieldset>
		<div class="form-group">
		<label for="inputoption" class="col-sm-2 control-label">Option: </label>
		<div class="col-sm-10">
		<select class="form-control" id="inputoption">
 			<option selected="selected">---Select an option---</option>
			{% for opt in options %}  			
			<option>{{opt.text}}</option>
  			{% endfor %}
		</select>
		</div>
		</div>
		<div class="form-group" align="right">
		<button type="submit" class="btn btn-primary" >Submit</button>
		</div>
		</form>
		{% endif %}  
        </div>
		{% if warning == 1 %}
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">OK</button> 
        </div>
		{% endif %}
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
{% endif %}

<div class="container">
<table class="table table-hover">
	<thead>
    	<tr>
            <th>Serial #</th>
            <th>Voted Code</th>
			<th>Casted Time</th>
            <th colspan="2">Uncasted Codes</th>
        </tr>
    </thead>
    <tbody>
		{% for row in data %}
        <tr>
			{% for text in row %}
            <td>{{text}}</td>
            {% endfor%}
        </tr>
        {% endfor%}  
    </tbody>
</table>
</div> <!-- /container -->
{% endblock %}

{% block afterbody %}
	<!-- Submit form -->
	<script>
    	$(document).ready(function(){
			$('#myModal').modal('show');
		});
	</script>
{% endblock %}

